<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <style>
        body {
            background: #c1c1c1;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #1f79c2;
            list-style: none;
            padding: 2rem 2rem;
        }

        h1 {
            font-weight: 400;
        }

        a {
            text-decoration: none;
            border: 1 px solid #1f79c2;
            padding: .4rem .8rem;
            background: #1f79c2;
            color: #fff;
        }
    </style>
</head>

<body>
    <h1>Home Page medic-data for backend</h1>
    <a href="">Link To the github Repo. </a>
</body>

</html>